<div class='container'>
  <div class="card mt-4 mx-auto mx-sm-0" style="width: 18rem;">
    <a href="<%= article_info_path(@article) %>">
      <img src="https://images.unsplash.com/photo-1540350394557-8d14678e7f91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <%# <p class="card-text"><%= @article.body.</p> %>
      <a href="<%= root_path %>" class="btn btn-primary">Go My List</a>
      <%= link_to 'Edit', edit_article_path(@article),class:"btn btn-primary" %>
      <%= link_to 'Destroy', article_path(@article), data: { turbo_confirm: 'Are you sure?',turbo_method: :delete }, class:"btn btn-danger" %>
    </div>
  </div>
  <h2 class='m-2'>Comments</h2>
  <%= render @article.comments %>
  <h2 class='m-2'>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
